@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Lobster+Two:wght@400;700&display=swap');

@keyframes leaves-in {
    0% {
        background-position: -1000px -1000px, 1000px 1000px, 0 0;
        background-size: 100%, 100%, cover;
    }

    100% {
        background-position: top left, bottom right;
        background-size: 50%, 50%, cover;
    }
}

@keyframes arrow-bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.5em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}

header {
    opacity: 0;
    position: fixed;
}

main {
    margin: 0;
    background-image: url(../images/index/line-art-background.webp);
}

.section-pastel {
    background-image: url("../images/index/leaves-top.webp"), url("../images/index/leaves-bottom.webp"), url("../images/index/line-art-leaves.webp");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-blend-mode: normal, normal, overlay;
    margin: 0;
    height: 100vh;
    background-color: #bee5b0;
    background-size: 50%, 50%, cover;
    animation: leaves-in 700ms ease;
}

.div-save_nature {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: appear 700ms ease;
}

.div-text-display {
    color: #eee;
    font-size: 7em;
    font-family: "Lobster Two";
    text-align: center;
    padding: 1em;
    background-image: url("../images/logo.webp");
    background-size: cover;
}

.div-text-display span {
    filter: drop-shadow(3px 3px #111);
    display: block;
    padding: 0;
    margin: 0;
}

.div-text-display:nth-child(1) {
    animation: slide-in 400ms ease;
}

.div-text-display:nth-child(2) {
    animation: slide-in 600ms ease;
}

.text-see {
    font-size: 1.2em;
    font-family: 'Comfortaa';
    text-decoration: underline;
}

.text-arrow {
    color: #eee;
    text-align: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #eee;
    border-radius: 50%;
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 2em;
    transform: translateY(2em);
    animation: arrow-bob 2s infinite ease-in-out;

    background-color: #0000001f;
    background-blend-mode: overlay;
}


.section-about {
    min-height: 98.5vh; 
    font-size: 14pt;
    border: solid 5px #ff6f61;
    background-image: url(../images/index/mission-bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: lighten;
}

h1 {
    text-align: center;
}

.section-content {
    display: grid;
    justify-items: center;
    text-align: left;
    background-color: #bee5b0;
    background-size: cover;
}

.section-inner_content {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.section-about {
    margin: 0;
}

.section-topic {
    display: flex;
}

.section-topic_leftimg img {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 75% 0%);
}

.section-topic_rightimg img {
    clip-path: polygon(25% 0%, 0% 100%, 100% 100%, 100% 0%)
}   

.section-topic img {
    mix-blend-mode: multiply;
}

.div-topic {
    padding-top: 2em;
    background-color: #a3d392;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.section-topic_rightimg .left {
    padding-left: 4em;
}

.a-learn_more {
    background-color: #ff6f61;
    text-align: center;
    width: 128px;
    text-decoration: none;
    padding: 1em;
    border: 2px solid #fc4ca2;
    border-radius: 50px;
    transition: all 100ms;
}

.a-learn_more:hover {
    transform: translateY(-8px);
    color: #eee;
    filter: drop-shadow(0px 8px black);
}


