@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Shade&family=Comfortaa&family=Libre+Franklin&family=Lobster+Two:wght@400;700&display=swap');

html, body {
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #bee5b0;
    color: #111;
}

header {
    margin-left: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

header a {
    color: #111;
    text-decoration: none;
}

header ul {
    padding: 0;
}
 
header li {
    padding: 1em;
    display: inline-block;
    margin: 1em 0 0 0.5em;
}

header li:hover {
    background-color: #fc82a2aa;
}

.div-title {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-bottom: 1em;
}

h2 {
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: larger;
    letter-spacing: 0.5em;
    margin-bottom: 1em;
}

.title-line {
    width: 2em;
    border-bottom: 4px solid #fc82a2;
    margin-bottom: 1em;
}

.content-corner {
    height: 2em;
    width: 2em;
    border-left: 4px solid #fc82a2;
    border-top: 4px solid #fc82a2;
}

footer {
    background-color: #badcac;
    border-top: 2px solid #fc82a2;
}

.section-footer-center {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 3em;
}

footer .div-column {
    margin: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
}

footer .div-bottom_right {
    background-color: #8ea984;
    padding: 0.5em;
    text-align: right;
}