@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Shade&family=Comfortaa&family=Libre+Franklin&family=Lobster+Two:wght@400;700&display=swap');

html, body {
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #bee5b0;
    color: #111;
    overflow-x: hidden;
}

.center {
    margin: 2em 0 1em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

span {
    margin-bottom: 1em;
}

header {
    margin-left: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

header a {
    color: #111;
    text-decoration: none;
}

header ul {
    padding: 0;
}
 
header li {
    padding: 1em;
    display: inline-block;
    margin: 1em 0 0 0.5em;
}

header li:hover {
    background-color: #ff6f61aa;
}

a {
    color: #111;
    font-weight: bold;
}

a:hover {
    color: #ff6f61;
    transition: all 100ms;
}

.div-title {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-bottom: 1em;
}

h2 {
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: larger;
    letter-spacing: 0.5em;
    margin-bottom: 1em;
}

section {
    margin-bottom: 4em;
}

.title-line {
    width: 2em;
    border-bottom: 4px solid #ff6f61;
    margin-bottom: 1em;
}

.section-quote {
    position: relative;
}

.section-quote .quotes {
    position: absolute;
    top: -0.5em;
    color: #ff6f61;
    font-size: 10em;
    font-family: "Comfortaa";
    letter-spacing: -0.5rem;
    rotate: 180deg;
}

.content-corner {
    height: 2em;
    width: 2em;
    border-left: 4px solid #ff6f61;
    border-top: 4px solid #ff6f61;
}

footer {
    background-color: #badcac;
    border-top: 2px solid #ff6f61;
}


.section-footer-center {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 3em;
    margin-bottom: 0;
}

footer .div-column {
    margin: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
}

footer .div-bottom_right {
    background-color: #8ea984;
    padding: 0.5em;
    text-align: right;
}

.hidden {
    opacity: 0;
    translate: -100%;
}

.hidden-right {
    opacity: 0;
    translate: 100%;
}

.show {
    opacity: 100%;
    translate: 0;
    transition: all 600ms ease;
}